
/*add topic-------------------------------------------------------------------*/
#main-block #add-topic {
	display: block;
	float: left;
	width: 926px;
	min-height: 428px;
	background-color: #FFFFFF;
	border: solid 2px #000000;
	color: #000000;
	padding: 20px;
	margin-bottom: 5px;
}
#main-block #add-topic input[type="text"] {
	height: 20px;
	width: 500px;
	margin-top: 5px;
	font-size: 18px;
	font-family: sans-serif;
}
#main-block #add-topic textarea {
	margin-top: 10px;
	width: 500px;
	font-size: 18px;
	font-family: sans-serif;
	height: 200px;
	overflow: auto;
}
#main-block #add-topic h3{
	margin-top: 10px;
	color: #ED4732;
	font-size: 25px;
}
#main-block #add-topic input[type="button"] {
	height: 25px;
	width: 175px;
	font-size: 15px;
	display: block;
	float: left;
}
#main-block #add-topic input[type="submit"] {
	display: block;
	float: left;
	width: 200px;
	height: 30px;
	font-size: 18px;
}
#main-block #add-topic #questions div {
	display: block;
	margin-bottom: 10px;
}
#main-block #add-topic #questions div p {
	display: block;
	font-size: 20px;
	margin-top: 5px;
}
#main-block #add-topic #questions #answer-commands {
	display: block;
	float: left;
	padding-bottom: 10px;
	width: 550px;
	border-bottom: solid 1px #000000;
}
#main-block #add-topic #question-commands {
	display: block;
	margin-top: 10px;
}

/*users-----------------------------------------------------------------------*/
#main-block #requests, #main-block #userlist {
	width: 946px;
	background-color: #FFFFFF;
	border: solid 2px #000000;
	color: #000000;
	padding: 10px;
	margin-bottom: 5px;
}
#main-block #userlist {
	min-height: 363px;
}
#main-block #requests #user,
#main-block #userlist #user {
	display: block;
	min-height: 40px;
	border-top: solid 1px #000000;
}
#main-block #requests #user:hover,
#main-block #userlist #user:hover {
	background-color: #F8F8F8;
}
#main-block #requests #user #uname,
#main-block #userlist #user #uname {
	display: inline-block;
	padding: 5px 5px 5px 10px;
	font-size: 20px;
	color: #4EB1BA;
	float: left;
	min-width: 150px;
	margin-right: 20px;
}
#main-block #requests #user #snum,
#main-block #requests #user #dept,
#main-block #requests #user #vote-count,
#main-block #userlist #user #snum,
#main-block #userlist #user #dept {
	display: inline-block;
	font-size: 16px;
	color: #000000;
	float: left;
	padding: 10px;
	min-width: 50px;
}
#main-block #requests #user input[type="submit"],
#main-block #userlist #user input[type="submit"] {
	float: right;
	font-size: 16px;
	margin-top: 7px;
	margin-right: 10px;
}

/*reports---------------------------------------------------------------------*/
#main-block #rep-posts, #rep-replies {
	float: left;
	width: 946px;
	background-color: #FFFFFF;
	border: solid 2px #000000;
	color: #000000;
	padding: 10px;
	margin-bottom: 5px;
}
#main-block #rep-replies {
	min-height: 363px;
}
#main-block div .rep-item {
	display: block;
	float: left;
	width: 926px;
	padding: 5px 10px;
	border-top: solid 1px #000000;
}
#main-block div .rep-item:hover {
	background-color: #F8F8F8;
}
#main-block div .rep-item #message {
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
#main-block div .rep-item #poster,
#main-block div .rep-item #reporter {
	float: left;
	margin-right: 10px;
	font-size: 15px;
}
#main-block div .rep-item form input[type='submit'] {
	float: right;
	margin-left: 5px;
}

/*statistics------------------------------------------------------------------*/
#main-block #topics .elem-list .topic-item ul li #questions {
	display: block;
	color: #000000;
}
#main-block #topics .elem-list .topic-item ul li #total {
	display: block;
	font-weight: bold;
}
#main-block #topics .elem-list .topic-item ul li ul {
	display: block;
	float: left;
}
#main-block #topics .elem-list .topic-item ul li ul li {
	display: block;
	float: left;
}
#main-block #topics .elem-list .topic-item ul li ul li #ans,
#main-block #topics .elem-list .topic-item ul li ul li #ans-cnt {
	display: block;
	float: left;
	margin-right: 1px;
	text-align: center;
	color: #ED4732;
}
#main-block #topics .elem-list .topic-item ul li ul li #dept-list {
	display: block;
	float: right;
	padding: 2px;
}
#main-block #topics .elem-list .topic-item ul li ul li #dept-list .dept-item {
	display: block;
	float: left;
	border: solid 1px #000000;
	width: 75px;
	margin-right: 1px;
}